*{
    box-sizing: border-box;
    margin: 0 ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul, li{
    list-style-type: none;
    display: inline;
   
}

body{
    background: rgb(174, 211, 203);
    
}

.index a:link, header a:visited{
    color: white;
    padding: 8px 12px;
}

.index a:hover{
    color: rgb(174, 211, 203);
    background: white;
    text-decoration: none;
}

.index{
    text-align: center;
    background-color: rgb(145, 211, 189);  
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
    padding: 15px;
    
}

.mn{
    border-radius: 5px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
    text-align: center;
    background: rgb(145, 211, 189);
}
    

.foot{
    text-align: center;
    margin-top: 15px;
}

a{
    text-decoration: none;
    
}
a:hover{
    background-color: white;
    border-radius: 5px;
}

p{
    font-size: larger;
}
.sbm{
    color: white;
}

.btnfoto{
    border-radius: 5px;
    border-style: hidden;

}
.btnfoto:hover{
    background-color: rgb(67, 241, 183);
}
.menus{
    font-size:xx-large;
}

#nome{
border-radius: 5px;
border-style:solid;
}

#email{
border-radius: 5px;
border-style:solid;
}
#mensagem{
border-radius: 5px;
border-style:solid;
}

.btnenviar:hover{
    background-color: rgb(67, 241, 183);
}
.btnenviar{
    border-radius: 5px;
    border-style: hidden;
}

.mn a{
    display: block;
    color: white;
    padding: 8px 12px;
}
.mn a:hover{
    color: rgb(174, 211, 203);
    text-decoration: none;
    background: white;

}